@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

$main-color: #F5C017;
$secondary-color: #181818;
$light-secondary: #333333;
$instagram-bg: #000000;
$alien: rgb(88, 240, 62);


@mixin eye($side) {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: $secondary-color;
    box-shadow: inset 0 0 5px 5px rgba(0,0,0,.5);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 200px;
    @if $side == 'left' {
        top: 200px;
        left: 100px;
        transform: rotate(45deg);
    } @else {
        top: 100px;
        left: 200px;
        transform: rotate(-45deg);
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $secondary-color;
}

.alien {
    position: relative;
    background-color: darken($secondary-color, 2%);
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 200px;
    box-shadow: 
        0 0 5px 5px rgba(0,0,0,.5)
        ;

    &:before {
        @include eye('left')
    }
    &:after {
        @include eye('right')
    }
    &:hover {
        background: radial-gradient(circle, lighten($alien, 18%), $alien);
        box-shadow: 
        0 0 5px 5px rgba(0,0,0,.5),
        0 0 20px 20px rgba(88, 240, 62, .4)
        ;
    }
}