body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "Helvetica Neue";
    font-size: 30px;
    line-height: 25px;
    font-weight: bolder;
    background: #fff8fa;
}

.container {
    position: relative;
    animation: bubbles 2s infinite;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background: center / 150px 150px
            radial-gradient(
                circle,
                rgb(240, 249, 250) 0%,
                rgb(203, 220, 221) 40%,
                rgb(173, 195, 197) 60%,
                rgba(255, 255, 255, 0) 60%
            )
            no-repeat,
        bottom right / 150px 150px
            radial-gradient(
                circle,
                rgb(240, 249, 250) 0%,
                rgb(203, 220, 221) 40%,
                rgb(173, 195, 197) 60%,
                rgba(255, 255, 255, 0) 60%
            )
            no-repeat,
        top left / 150px 150px
            radial-gradient(
                circle,
                rgb(240, 249, 250) 0%,
                rgb(203, 220, 221) 40%,
                rgb(173, 195, 197) 60%,
                rgba(255, 255, 255, 0) 60%
            )
            no-repeat,
        rgb(240, 241, 243);
    box-shadow: 5px 5px 10px 10px rgba(143, 143, 143, 0.062), inset 0 0 20px 10px rgba(139, 139, 139, 0.144);

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);
    }
}

@keyframes bubbles {
    30% {
        background: bottom right / 150px 150px
                radial-gradient(
                    circle,
                    rgb(240, 249, 250) 0%,
                    rgb(203, 220, 221) 40%,
                    rgb(173, 195, 197) 60%,
                    rgba(255, 255, 255, 0) 60%
                )
                no-repeat,
            center / 150px 150px
                radial-gradient(
                    circle,
                    rgb(240, 249, 250) 0%,
                    rgb(203, 220, 221) 40%,
                    rgb(173, 195, 197) 60%,
                    rgba(255, 255, 255, 0) 60%
                )
                no-repeat,
            bottom left / 150px 150px
                radial-gradient(
                    circle,
                    rgb(240, 249, 250) 0%,
                    rgb(203, 220, 221) 40%,
                    rgb(173, 195, 197) 60%,
                    rgba(255, 255, 255, 0) 60%
                )
                no-repeat,
            rgb(240, 241, 243);
    }
    60% {
        background: bottom left / 150px 150px
                radial-gradient(
                    circle,
                    rgb(240, 249, 250) 0%,
                    rgb(203, 220, 221) 40%,
                    rgb(173, 195, 197) 60%,
                    rgba(255, 255, 255, 0) 60%
                )
                no-repeat,
            top right / 150px 150px
                radial-gradient(
                    circle,
                    rgb(240, 249, 250) 0%,
                    rgb(203, 220, 221) 40%,
                    rgb(173, 195, 197) 60%,
                    rgba(255, 255, 255, 0) 60%
                )
                no-repeat,
            center / 150px 150px
                radial-gradient(
                    circle,
                    rgb(240, 249, 250) 0%,
                    rgb(203, 220, 221) 40%,
                    rgb(173, 195, 197) 60%,
                    rgba(255, 255, 255, 0) 60%
                )
                no-repeat,
            rgb(240, 241, 243);
    }
    90% {
        background: top left / 150px 150px
                radial-gradient(
                    circle,
                    rgb(240, 249, 250) 0%,
                    rgb(203, 220, 221) 40%,
                    rgb(173, 195, 197) 60%,
                    rgba(255, 255, 255, 0) 60%
                )
                no-repeat,
            center / 150px 150px
                radial-gradient(
                    circle,
                    rgb(240, 249, 250) 0%,
                    rgb(203, 220, 221) 40%,
                    rgb(173, 195, 197) 60%,
                    rgba(255, 255, 255, 0) 60%
                )
                no-repeat,
            bottom right / 150px 150px
                radial-gradient(
                    circle,
                    rgb(240, 249, 250) 0%,
                    rgb(203, 220, 221) 40%,
                    rgb(173, 195, 197) 60%,
                    rgba(255, 255, 255, 0) 60%
                )
                no-repeat,
            rgb(240, 241, 243);
    }
}
