body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
  background: linear-gradient(45deg, #cbd0ff, #f4f5ff);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 175px;
  border-radius: 100px;
}

.container:before {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 500px;
  border: 2px solid #d5d9ff;
}

.container i {
  width: 1px;
  height: 8px;
  border-radius: 50px;
  background-color: #c1c7ff;
  position: absolute;
  top: 85px;
  z-index: 10;
}

.container i:nth-child(1) {
  -webkit-transform: rotate(4.5deg) translate(0, 110px);
          transform: rotate(4.5deg) translate(0, 110px);
}

.container i:nth-child(2) {
  -webkit-transform: rotate(9deg) translate(0, 110px);
          transform: rotate(9deg) translate(0, 110px);
}

.container i:nth-child(3) {
  -webkit-transform: rotate(13.5deg) translate(0, 110px);
          transform: rotate(13.5deg) translate(0, 110px);
}

.container i:nth-child(4) {
  -webkit-transform: rotate(18deg) translate(0, 110px);
          transform: rotate(18deg) translate(0, 110px);
}

.container i:nth-child(5) {
  -webkit-transform: rotate(22.5deg) translate(0, 110px);
          transform: rotate(22.5deg) translate(0, 110px);
}

.container i:nth-child(6) {
  -webkit-transform: rotate(27deg) translate(0, 110px);
          transform: rotate(27deg) translate(0, 110px);
}

.container i:nth-child(7) {
  -webkit-transform: rotate(31.5deg) translate(0, 110px);
          transform: rotate(31.5deg) translate(0, 110px);
}

.container i:nth-child(8) {
  -webkit-transform: rotate(36deg) translate(0, 110px);
          transform: rotate(36deg) translate(0, 110px);
}

.container i:nth-child(9) {
  -webkit-transform: rotate(40.5deg) translate(0, 110px);
          transform: rotate(40.5deg) translate(0, 110px);
}

.container i:nth-child(10) {
  -webkit-transform: rotate(45deg) translate(0, 110px);
          transform: rotate(45deg) translate(0, 110px);
}

.container i:nth-child(11) {
  -webkit-transform: rotate(49.5deg) translate(0, 110px);
          transform: rotate(49.5deg) translate(0, 110px);
}

.container i:nth-child(12) {
  -webkit-transform: rotate(54deg) translate(0, 110px);
          transform: rotate(54deg) translate(0, 110px);
}

.container i:nth-child(13) {
  -webkit-transform: rotate(58.5deg) translate(0, 110px);
          transform: rotate(58.5deg) translate(0, 110px);
}

.container i:nth-child(14) {
  -webkit-transform: rotate(63deg) translate(0, 110px);
          transform: rotate(63deg) translate(0, 110px);
}

.container i:nth-child(15) {
  -webkit-transform: rotate(67.5deg) translate(0, 110px);
          transform: rotate(67.5deg) translate(0, 110px);
}

.container i:nth-child(16) {
  -webkit-transform: rotate(72deg) translate(0, 110px);
          transform: rotate(72deg) translate(0, 110px);
}

.container i:nth-child(17) {
  -webkit-transform: rotate(76.5deg) translate(0, 110px);
          transform: rotate(76.5deg) translate(0, 110px);
}

.container i:nth-child(18) {
  -webkit-transform: rotate(81deg) translate(0, 110px);
          transform: rotate(81deg) translate(0, 110px);
}

.container i:nth-child(19) {
  -webkit-transform: rotate(85.5deg) translate(0, 110px);
          transform: rotate(85.5deg) translate(0, 110px);
}

.container i:nth-child(20) {
  -webkit-transform: rotate(90deg) translate(0, 110px);
          transform: rotate(90deg) translate(0, 110px);
}

.container i:nth-child(21) {
  -webkit-transform: rotate(94.5deg) translate(0, 110px);
          transform: rotate(94.5deg) translate(0, 110px);
}

.container i:nth-child(22) {
  -webkit-transform: rotate(99deg) translate(0, 110px);
          transform: rotate(99deg) translate(0, 110px);
}

.container i:nth-child(23) {
  -webkit-transform: rotate(103.5deg) translate(0, 110px);
          transform: rotate(103.5deg) translate(0, 110px);
}

.container i:nth-child(24) {
  -webkit-transform: rotate(108deg) translate(0, 110px);
          transform: rotate(108deg) translate(0, 110px);
}

.container i:nth-child(25) {
  -webkit-transform: rotate(112.5deg) translate(0, 110px);
          transform: rotate(112.5deg) translate(0, 110px);
}

.container i:nth-child(26) {
  -webkit-transform: rotate(117deg) translate(0, 110px);
          transform: rotate(117deg) translate(0, 110px);
}

.container i:nth-child(27) {
  -webkit-transform: rotate(121.5deg) translate(0, 110px);
          transform: rotate(121.5deg) translate(0, 110px);
}

.container i:nth-child(28) {
  -webkit-transform: rotate(126deg) translate(0, 110px);
          transform: rotate(126deg) translate(0, 110px);
}

.container i:nth-child(29) {
  -webkit-transform: rotate(130.5deg) translate(0, 110px);
          transform: rotate(130.5deg) translate(0, 110px);
}

.container i:nth-child(30) {
  -webkit-transform: rotate(135deg) translate(0, 110px);
          transform: rotate(135deg) translate(0, 110px);
}

.container i:nth-child(31) {
  -webkit-transform: rotate(139.5deg) translate(0, 110px);
          transform: rotate(139.5deg) translate(0, 110px);
}

.container i:nth-child(32) {
  -webkit-transform: rotate(144deg) translate(0, 110px);
          transform: rotate(144deg) translate(0, 110px);
}

.container i:nth-child(33) {
  -webkit-transform: rotate(148.5deg) translate(0, 110px);
          transform: rotate(148.5deg) translate(0, 110px);
}

.container i:nth-child(34) {
  -webkit-transform: rotate(153deg) translate(0, 110px);
          transform: rotate(153deg) translate(0, 110px);
}

.container i:nth-child(35) {
  -webkit-transform: rotate(157.5deg) translate(0, 110px);
          transform: rotate(157.5deg) translate(0, 110px);
}

.container i:nth-child(36) {
  -webkit-transform: rotate(162deg) translate(0, 110px);
          transform: rotate(162deg) translate(0, 110px);
}

.container i:nth-child(37) {
  -webkit-transform: rotate(166.5deg) translate(0, 110px);
          transform: rotate(166.5deg) translate(0, 110px);
}

.container i:nth-child(38) {
  -webkit-transform: rotate(171deg) translate(0, 110px);
          transform: rotate(171deg) translate(0, 110px);
}

.container i:nth-child(39) {
  -webkit-transform: rotate(175.5deg) translate(0, 110px);
          transform: rotate(175.5deg) translate(0, 110px);
}

.container i:nth-child(40) {
  -webkit-transform: rotate(180deg) translate(0, 110px);
          transform: rotate(180deg) translate(0, 110px);
}

.container i:nth-child(41) {
  -webkit-transform: rotate(184.5deg) translate(0, 110px);
          transform: rotate(184.5deg) translate(0, 110px);
}

.container i:nth-child(42) {
  -webkit-transform: rotate(189deg) translate(0, 110px);
          transform: rotate(189deg) translate(0, 110px);
}

.container i:nth-child(43) {
  -webkit-transform: rotate(193.5deg) translate(0, 110px);
          transform: rotate(193.5deg) translate(0, 110px);
}

.container i:nth-child(44) {
  -webkit-transform: rotate(198deg) translate(0, 110px);
          transform: rotate(198deg) translate(0, 110px);
}

.container i:nth-child(45) {
  -webkit-transform: rotate(202.5deg) translate(0, 110px);
          transform: rotate(202.5deg) translate(0, 110px);
}

.container i:nth-child(46) {
  -webkit-transform: rotate(207deg) translate(0, 110px);
          transform: rotate(207deg) translate(0, 110px);
}

.container i:nth-child(47) {
  -webkit-transform: rotate(211.5deg) translate(0, 110px);
          transform: rotate(211.5deg) translate(0, 110px);
}

.container i:nth-child(48) {
  -webkit-transform: rotate(216deg) translate(0, 110px);
          transform: rotate(216deg) translate(0, 110px);
}

.container i:nth-child(49) {
  -webkit-transform: rotate(220.5deg) translate(0, 110px);
          transform: rotate(220.5deg) translate(0, 110px);
}

.container i:nth-child(50) {
  -webkit-transform: rotate(225deg) translate(0, 110px);
          transform: rotate(225deg) translate(0, 110px);
}

.container i:nth-child(51) {
  -webkit-transform: rotate(229.5deg) translate(0, 110px);
          transform: rotate(229.5deg) translate(0, 110px);
}

.container i:nth-child(52) {
  -webkit-transform: rotate(234deg) translate(0, 110px);
          transform: rotate(234deg) translate(0, 110px);
}

.container i:nth-child(53) {
  -webkit-transform: rotate(238.5deg) translate(0, 110px);
          transform: rotate(238.5deg) translate(0, 110px);
}

.container i:nth-child(54) {
  -webkit-transform: rotate(243deg) translate(0, 110px);
          transform: rotate(243deg) translate(0, 110px);
}

.container i:nth-child(55) {
  -webkit-transform: rotate(247.5deg) translate(0, 110px);
          transform: rotate(247.5deg) translate(0, 110px);
}

.container i:nth-child(56) {
  -webkit-transform: rotate(252deg) translate(0, 110px);
          transform: rotate(252deg) translate(0, 110px);
}

.container i:nth-child(57) {
  -webkit-transform: rotate(256.5deg) translate(0, 110px);
          transform: rotate(256.5deg) translate(0, 110px);
}

.container i:nth-child(58) {
  -webkit-transform: rotate(261deg) translate(0, 110px);
          transform: rotate(261deg) translate(0, 110px);
}

.container i:nth-child(59) {
  -webkit-transform: rotate(265.5deg) translate(0, 110px);
          transform: rotate(265.5deg) translate(0, 110px);
}

.container i:nth-child(60) {
  -webkit-transform: rotate(270deg) translate(0, 110px);
          transform: rotate(270deg) translate(0, 110px);
}

.container i:nth-child(61) {
  -webkit-transform: rotate(274.5deg) translate(0, 110px);
          transform: rotate(274.5deg) translate(0, 110px);
}

.container i:nth-child(62) {
  -webkit-transform: rotate(279deg) translate(0, 110px);
          transform: rotate(279deg) translate(0, 110px);
}

.container i:nth-child(63) {
  -webkit-transform: rotate(283.5deg) translate(0, 110px);
          transform: rotate(283.5deg) translate(0, 110px);
}

.container i:nth-child(64) {
  -webkit-transform: rotate(288deg) translate(0, 110px);
          transform: rotate(288deg) translate(0, 110px);
}

.container i:nth-child(65) {
  -webkit-transform: rotate(292.5deg) translate(0, 110px);
          transform: rotate(292.5deg) translate(0, 110px);
}

.container i:nth-child(66) {
  -webkit-transform: rotate(297deg) translate(0, 110px);
          transform: rotate(297deg) translate(0, 110px);
}

.container i:nth-child(67) {
  -webkit-transform: rotate(301.5deg) translate(0, 110px);
          transform: rotate(301.5deg) translate(0, 110px);
}

.container i:nth-child(68) {
  -webkit-transform: rotate(306deg) translate(0, 110px);
          transform: rotate(306deg) translate(0, 110px);
}

.container i:nth-child(69) {
  -webkit-transform: rotate(310.5deg) translate(0, 110px);
          transform: rotate(310.5deg) translate(0, 110px);
}

.container i:nth-child(70) {
  -webkit-transform: rotate(315deg) translate(0, 110px);
          transform: rotate(315deg) translate(0, 110px);
}

.container i:nth-child(71) {
  -webkit-transform: rotate(319.5deg) translate(0, 110px);
          transform: rotate(319.5deg) translate(0, 110px);
}

.container i:nth-child(72) {
  -webkit-transform: rotate(324deg) translate(0, 110px);
          transform: rotate(324deg) translate(0, 110px);
}

.container i:nth-child(73) {
  -webkit-transform: rotate(328.5deg) translate(0, 110px);
          transform: rotate(328.5deg) translate(0, 110px);
}

.container i:nth-child(74) {
  -webkit-transform: rotate(333deg) translate(0, 110px);
          transform: rotate(333deg) translate(0, 110px);
}

.container i:nth-child(75) {
  -webkit-transform: rotate(337.5deg) translate(0, 110px);
          transform: rotate(337.5deg) translate(0, 110px);
}

.container i:nth-child(76) {
  -webkit-transform: rotate(342deg) translate(0, 110px);
          transform: rotate(342deg) translate(0, 110px);
}

.container i:nth-child(77) {
  -webkit-transform: rotate(346.5deg) translate(0, 110px);
          transform: rotate(346.5deg) translate(0, 110px);
}

.container i:nth-child(78) {
  -webkit-transform: rotate(351deg) translate(0, 110px);
          transform: rotate(351deg) translate(0, 110px);
}

.container i:nth-child(79) {
  -webkit-transform: rotate(355.5deg) translate(0, 110px);
          transform: rotate(355.5deg) translate(0, 110px);
}

.container i:nth-child(80) {
  -webkit-transform: rotate(360deg) translate(0, 110px);
          transform: rotate(360deg) translate(0, 110px);
}

.container i:nth-child(81) {
  -webkit-transform: rotate(364.5deg) translate(0, 110px);
          transform: rotate(364.5deg) translate(0, 110px);
}

.container .screen {
  width: 130px;
  height: 130px;
  border-radius: 500px;
  -webkit-box-shadow: inset 20px 20px 20px 0 rgba(117, 129, 255, 0.2), inset 0 0 0 7px #f4f5ff, 15px 15px 20px 0 #cbd0ff, -12px -12px 25px 0 white;
          box-shadow: inset 20px 20px 20px 0 rgba(117, 129, 255, 0.2), inset 0 0 0 7px #f4f5ff, 15px 15px 20px 0 #cbd0ff, -12px -12px 25px 0 white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.container .screen h1 {
  margin: 0;
  padding-bottom: 4px;
}

.container .screen:before {
  content: '';
  position: absolute;
  background-color: #d9e2d0;
  width: 116px;
  height: 116px;
  border-radius: 500px;
  -webkit-box-shadow: inset 10px 10px 15px 0 rgba(43, 42, 42, 0.2), inset -7px -7px 10px 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 10px 10px 15px 0 rgba(43, 42, 42, 0.2), inset -7px -7px 10px 0 rgba(255, 255, 255, 0.2);
}

.container .screen .screenInfo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 116px;
  height: 116px;
  border-radius: 500px;
  overflow: hidden;
  color: #686d61;
  font-size: 30px;
  font-weight: 500;
}

.container .screen .screenInfo div:not(:last-child) {
  border-bottom: 1px solid #b8b8b8;
}

.container .screen .screenInfo .screenInfoContainer {
  position: absolute;
  width: 200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(155, 155, 155, 0.5);
  font-size: 25px;
  opacity: 50%;
}

.container .screen .screenInfo .screenInfoContainer .freq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .screen .screenInfo .screenInfoContainer .freq p {
  margin: 0;
}

.container .screen .screenInfo .screenInfoContainer .freq p:nth-child(2) {
  color: black;
}

.container .screen .screenInfo .screenInfoContainer .numbers p:nth-child(2) {
  color: black;
}

.container .screen .screenInfo .screenInfoContainer .numbers, .container .screen .screenInfo .screenInfoContainer .fmOrAm {
  width: 130px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 15px;
  margin: 10px;
}

.container .screen .screenInfo .screenInfoContainer .numbers p, .container .screen .screenInfo .screenInfoContainer .fmOrAm p {
  margin: 0;
}

.container .screen .screenInfo .screenInfoContainer .fmOrAm {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110px;
  margin-left: 0;
  margin-right: 0;
}

.container .screen .screenInfo .screenInfoContainer .fmOrAm > p {
  color: black;
}

.container .screen .screenInfo .screenInfoContainer:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: red;
  top: -3px;
}
/*# sourceMappingURL=main.css.map */