:root {
    --car-image: center / contain url('car2.png') no-repeat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Helvetica Neue';
    font-size: 30px;
    line-height: 25px;
    font-weight: bolder;
    background: linear-gradient(to right, rgb(24, 24, 24) 52%, #EB3349 52%, #F45C43 100%);
    color: #f7f5f5;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 220px;
    height: 440px;
    background: 
        linear-gradient(to top, rgb(19, 19, 19) 50%, rgba(24, 24, 24, 0.904) 100%),
        url('./road.jpeg');
    background-position: center, -230px -100px;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    border-radius: 40px;
    box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.274);

    .header {
        flex: 2;
        display: flex;
        width: 75%;
        padding-top: 20px;
        justify-content: space-between;

        & .title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            & p {
                font-size: 10px;
                padding-left: 10px;
            }
        }

        & .menu {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            background: linear-gradient(to right, #EB3349, #F45C43);
            color: white;
            & .material-icons {
                width: 100%;
                height: 100%;
                text-align: center;
                font-size: 20px;
                line-height: 29px;
            }
        }
    }

    & .content {
        width: 85%;
        flex: 5;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .status {
            position: relative;
            width: 70%;
            border-radius: 10px;
            font-size: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background: linear-gradient(to right, #EB3349, #F45C43);
            padding: 25px 15px 15px 15px;
            outline: none;

            & span {
                flex: 6;
                padding: 5px;
            }

            & span:not(:first-child) {
                flex: 4;
                height: 100%;
                background-color: rgb(32, 32, 32);
                align-self: flex-end;
                color: white;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            
            & button {
                display: flex;
                width: 100%;
                border-radius: 5px;
                border: none;
                color: rgb(15, 15, 15);
                background: white;
                padding: 0;
                outline: none;
            }

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 90px;
                left: 0px;
                top: -50px;
                background: var(--car-image);
            }
        }

        & .statusData {
            width: 70%;
            padding: 15px 15px 15px 15px;
            background-color: rgb(32, 32, 32);
            border-radius: 10px;
            margin-top: 23px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            & .material-icons {
                font-size: 12px;
                margin-right: 10px;
            }

            & .wash, .gas, .oil {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0 5px 0;
            }

            & .bar {
                position: relative;
                flex: 1;
                height: 7px;
                border-radius: 20px;
                background-color: rgb(19, 19, 19);
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    height: 7px;
                    border-radius: 20px;
                    background: linear-gradient(to right, #EB3349, #F45C43);
                }
            }

            & .wash {
                & .bar {
                    &:before {
                        width: 20px;
                    }
                }
            }
            & .gas {
                & .bar {
                    &:before {
                        width: 50px;
                    }
                }
            }
            & .oil {
                & .bar {
                    &:before {
                        width: 34px;
                    }
                }
            }
        }
    }

    & .footer {
        flex: .5;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(19, 19, 19);
        width: 70%;
        border-radius: 10px;
        margin: 20px 0 30px 0;
        box-shadow:
            0 0 1px 1px rgb(34, 34, 34),
            0 0 1px 3px rgb(233, 233, 233),
            0 0 0 4px rgb(36, 36, 36),
            inset 0 0 0 1px rgb(0, 0, 0)
        ;

        & .clicked {
            color: #EB3349;
            &:first-child {
                color: #F45C43;
            }
        }

        & .material-icons {
            display: block;
            position: relative;
            flex: 1;
            display: flex;
            justify-content: center;
            font-size: 15px;
            padding: 15px 0 15px 0;

            &:not(:last-child) {
                &:before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    background-color: rgba(0, 0, 0, 0.575);
                    top: 0;
                    right: 0;
                }
                &:after {
                    content: '';
                    position: absolute;
                    height: 50%;
                    width: 3px;
                    top: 11px;
                    border-radius: 30px;
                    background-color: rgba(247, 245, 245, 0.575);
                    right: 0;
                }
            }
        }
    }
}