body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: center / cover #242424 url('./bg.png') no-repeat;
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 12px;
}
