$main-color: rgba(245, 0, 0, 0.801);


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    transform: rotate(45deg);
    width: 175px;
    height: 175px;
    border-radius: 20px;
    background-color: $main-color;
    padding: 10px;
    
    & .buttons {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 0 2px rgba(109, 0, 0, 0.7);
        & div {
            width: 87.5px;
            height: 87.5px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
    
            & span {
                transform: rotate(-45deg);
            }
    
            &:first-child {
                &:hover {
                    box-shadow: inset 6px 0 10px 0 rgba(0,0,0,.2);
                }
            }
            &:nth-child(2) {
                &:hover {
                    box-shadow: inset 0 6px 10px 0 rgba(0,0,0,.2);
                }
            }
            &:nth-child(3) {
                &:hover {
                    box-shadow: inset 0 -6px 10px 0 rgba(0,0,0,.2);
                }
            }
            &:nth-child(4) {
                &:hover {
                    box-shadow: inset -6px 0 10px 0 rgba(0,0,0,.2);
                }
            }
        }
    }
}
