body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Helvetica Neue';
  font-size: 30px;
  line-height: 25px;
  font-weight: bolder;
  background: linear-gradient(65deg, #f7f5f5 0%, #f7f5f5 50%, #303030 50%);
  color: #303030;
}

button {
  background-color: none;
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 1.5px 1.5px 1.5px 0 rgba(2, 2, 2, 0.075);
          box-shadow: 1.5px 1.5px 1.5px 0 rgba(2, 2, 2, 0.075);
  outline: none;
  font-size: 10px;
}

.phone {
  position: relative;
  height: 440px;
  width: 210px;
  background-color: #ececec;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 0 1px rgba(175, 175, 175, 0.699), inset -20px 0 20px 0 #cecece, inset 20px 0 20px 0 white, 15px 20px 20px 0 rgba(2, 2, 2, 0.2), 0 0 0 5px #ececec;
          box-shadow: 0 0 0 1px rgba(175, 175, 175, 0.699), inset -20px 0 20px 0 #cecece, inset 20px 0 20px 0 white, 15px 20px 20px 0 rgba(2, 2, 2, 0.2), 0 0 0 5px #ececec;
}

.phone .phoneContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 440px;
  width: 210px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
}

.phone .phoneContent:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 80px;
  width: 4px;
  height: 45px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffe600;
}

.phone .phoneContent:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 135px;
  width: 4px;
  height: 25px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #313131;
}

.phone .phoneContent .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 18px 0 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.phone .phoneContent .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  overflow: hidden;
  border-radius: 30px;
  padding-left: 3px;
}

.phone .phoneContent .content .cardContainer {
  position: relative;
  width: 91.5%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.phone .phoneContent .content .cardContainer .cardInfo {
  z-index: 2;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 5px;
  right: 20px;
}

.phone .phoneContent .content .cardContainer .cardInfo .material-icons {
  font-size: 15px;
  border-radius: 100px;
}

.phone .phoneContent .content .cardContainer .cardInfo .userImage {
  width: 13px;
  height: 13px;
  margin: 2px;
  border-radius: 100px;
}

.phone .phoneContent .content .cardContainer .cardInfo .userName {
  font-size: 5px;
  margin: 0 0 0 5px;
}

.phone .phoneContent .content .cardContainer .card {
  position: relative;
  width: 85%;
  height: 150px;
  border-radius: 10px;
}

.phone .phoneContent .content .cardContainer .card .cardReactions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 10px);
  margin-top: 10px;
  height: 15px;
  color: white;
  bottom: 0;
  padding: 5px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
}

.phone .phoneContent .content .cardContainer .card .cardReactions .download {
  font-size: 7px;
}

.phone .phoneContent .content .cardContainer .card .cardReactions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.phone .phoneContent .content .cardContainer .card .cardReactions div button {
  height: 100%;
  margin-left: 5px;
}

.phone .phoneContent .content .cardContainer .card .cardReactions .material-icons {
  font-size: 15px;
}

.phone .phoneContent .content .cardContainer .card .cardReactions .star {
  height: 100%;
  width: 15px;
  padding: 1px;
  color: #242424;
}

.phone .phoneContent .content .cardContainer .card .cardReactions .star .clicked {
  color: #fcce00;
}

.phone .phoneContent .content .cardContainer .card .cardReactions .star .material-icons {
  font-size: 10px;
}

.phone .phoneContent .footer {
  position: absolute;
  width: 85%;
  height: 30px;
  border-radius: 100px;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(102, 102, 102, 0.233);
          box-shadow: 5px 5px 5px 0 rgba(102, 102, 102, 0.233);
  bottom: 20px;
  background-color: #242424;
  left: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 10;
}

.phone:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #cfcfcf;
  border-radius: 20px;
  left: 90px;
  top: 10px;
}

.phone .material-icons {
  font-size: 15px;
}

.hidden {
  display: none !important;
}

.animated {
  -webkit-animation: animated 2s linear;
          animation: animated 2s linear;
}

@-webkit-keyframes animated {
  100% {
    -webkit-transform: translate(0, -100px) rotate(45deg);
            transform: translate(0, -100px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes animated {
  100% {
    -webkit-transform: translate(0, -100px) rotate(45deg);
            transform: translate(0, -100px) rotate(45deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */