:root {
  /* colors */
  --env-light: rgba(219, 219, 219, 0.5);
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#050505), to(#4d4c4c));
  background: linear-gradient(to bottom, #050505, #4d4c4c);
  margin: 0;
}

.gopro {
  position: relative;
  z-index: 3;
  width: 50vw;
  height: 37vw;
  background-color: #28282a;
  border-radius: 5vw;
  -webkit-box-shadow: inset 0.3vw 0 1vw 0 rgba(46, 46, 46, 0.5), inset -0.3vw 0 1vw 0 rgba(46, 46, 46, 0.5), inset 2vw 0 2vw 0 var(--env-light), inset -2vw 0 2vw 0 var(--env-light);
          box-shadow: inset 0.3vw 0 1vw 0 rgba(46, 46, 46, 0.5), inset -0.3vw 0 1vw 0 rgba(46, 46, 46, 0.5), inset 2vw 0 2vw 0 var(--env-light), inset -2vw 0 2vw 0 var(--env-light);
}

.gopro .objective {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26vw;
  height: 22vw;
  right: 0;
  top: 1.4vw;
  background-color: #222222;
  border-radius: 4vw;
  -webkit-box-shadow: inset 0 0 0 0.3vw #1b1b1b, inset 0 0 0 0.4vw #2a2a2a, inset 0 0 0 3vw #1b1b1b, inset -3.1vw 0 0.1vw 0 rgba(218, 218, 218, 0.3), inset 0.5vw -0.5vw 0.5vw 3vw #1b1b1b, 0 0 0 0.1vw rgba(194, 192, 192, 0.3), -0.5vw 0 0.2vw 0 #383838, -0.5vw 0 1vw 0 #777777, 0 0 0 0.5vw #292929, 0 0 0 1.5vw #383838, -3vw 3vw 2vw 0.5vw rgba(102, 102, 102, 0.5);
          box-shadow: inset 0 0 0 0.3vw #1b1b1b, inset 0 0 0 0.4vw #2a2a2a, inset 0 0 0 3vw #1b1b1b, inset -3.1vw 0 0.1vw 0 rgba(218, 218, 218, 0.3), inset 0.5vw -0.5vw 0.5vw 3vw #1b1b1b, 0 0 0 0.1vw rgba(194, 192, 192, 0.3), -0.5vw 0 0.2vw 0 #383838, -0.5vw 0 1vw 0 #777777, 0 0 0 0.5vw #292929, 0 0 0 1.5vw #383838, -3vw 3vw 2vw 0.5vw rgba(102, 102, 102, 0.5);
}

.gopro .objective:before {
  content: "";
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25vw;
  height: 21vw;
  top: 0.5vw;
  right: 0.48vw;
  border-radius: 3.5vw;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}

.gopro .objective__content {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  width: 15.5vw;
  height: 15.5vw;
  border-radius: 50vw;
  background-color: #121212;
  -webkit-box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 1.5vw #1f1f1f;
          box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 1.5vw #1f1f1f;
}

.gopro .objective__content__light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9vw;
  height: 9vw;
  border-radius: 50vw;
  overflow: hidden;
  z-index: 10000;
  background-color: transparent;
}

.gopro .objective__content__light__detail {
  z-index: 10;
  width: 11.5vw;
  height: 11.5vw;
  position: absolute;
  top: -5vw;
  right: -4vw;
  border-radius: 50vw;
  background: radial-gradient(circle, rgba(252, 126, 224, 0.2), rgba(248, 214, 241, 0.2));
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.gopro .objective__content__details {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.5vw;
  height: 11.5vw;
  border-radius: 50vw;
  background-color: #121212;
  -webkit-box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 1vw #1f1f1f;
          box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 1vw #1f1f1f;
}

.gopro .objective__content__details:after {
  content: "";
  position: absolute;
  z-index: 111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9.2vw;
  height: 9.2vw;
  border-radius: 50vw;
  background: radial-gradient(circle, rgba(35, 35, 31, 0.2), rgba(71, 49, 62, 0.5));
}

.gopro .objective__content__details div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50vw;
  background-color: #050505;
  -webkit-box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 0.3vw #1f1f1f;
          box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 0.3vw #1f1f1f;
}

.gopro .objective__content__details div:after {
  content: none;
}

.gopro .objective__content__details div div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50vw;
  background-color: #050505;
  -webkit-box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 0.05vw #1f1f1f;
          box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 0.05vw #1f1f1f;
}

.gopro .objective__content__details div div div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50vw;
  background-color: #4c1e69;
  -webkit-box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 0.05vw #1f1f1f, inset 0 0 0.1vw 0.1vw #55014f;
          box-shadow: inset 0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset -0.2vw 0 0.3vw 0 rgba(185, 185, 185, 0.1), inset 0 0 0 0.05vw #1f1f1f, inset 0 0 0.1vw 0.1vw #55014f;
}

.gopro .objective__content__details div div div:before {
  content: "";
  position: absolute;
  background-color: white;
  width: 0.3vw;
  height: 0.3vw;
  left: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: 10000;
}

.gopro .objective__content__details div div div:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 0.3vw;
  height: 0.3vw;
  right: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: 10000;
}

.gopro .objective__content__details div div div div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1vw;
  height: 1vw;
  border-radius: 50vw;
  background-color: #050505;
}

.red_detail {
  position: absolute;
  width: 5vw;
  height: 5vw;
  overflow: hidden;
}

.red_detail div {
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 10vw;
  height: 10vw;
  border-radius: 3vw;
  border: 0.7vw solid #a02223;
}

.top_detail {
  position: absolute;
  width: 10vw;
  height: 1vw;
  top: -1vw;
  left: 7vw;
  z-index: 1;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  background-color: #323233;
}

.screen {
  position: absolute;
  overflow: hidden;
  border: 1px solid rgba(109, 109, 109, 0.5);
  width: 14vw;
  height: 14vw;
  top: 7vw;
  left: 6vw;
  border-radius: 2vw;
  background-image: url("./screen.png");
  background-size: cover;
  -webkit-box-shadow: 0 0 0.5vw 0 rgba(196, 196, 196, 0.5), inset 0 0 0.1vw 0.2vw rgba(46, 46, 46, 0.8), inset 0 0 1vw 1vw rgba(46, 46, 46, 0.5);
          box-shadow: 0 0 0.5vw 0 rgba(196, 196, 196, 0.5), inset 0 0 0.1vw 0.2vw rgba(46, 46, 46, 0.8), inset 0 0 1vw 1vw rgba(46, 46, 46, 0.5);
}

.brand {
  position: absolute;
  overflow: hidden;
  width: 14vw;
  height: 4vw;
  top: 28vw;
  left: 29vw;
  background-image: url("./brand.png");
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */